.btn {
  padding: 16px 60px;
  display: block;
  cursor: pointer;
  outline: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border: none;
  background-color: #33adff;
  margin: 4px 0px;
}
